<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GradientColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F4756FB1DF0014D00220553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F4757141DF0014D00220553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F47571F1DF0014D00220553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
